<section class="intro">
  <div class="intro-item">
    <h3>Direito Civil</h3>
    <p>O Direito Civil abrange as relações jurídicas entre indivíduos, como contratos, heranças e disputas familiares. Nosso compromisso é oferecer soluções jurídicas claras e justas, defendendo os interesses de nossos clientes em casos de disputas civis e outros conflitos relacionados.</p>
  </div>
  
  <div class="intro-item">
    <h3>Direito Penal</h3>
    <p>O Direito Penal é a área da advocacia que lida com os crimes e suas punições. Nossa equipe de especialistas oferece defesa qualificada para clientes acusados de crimes, garantindo que seus direitos sejam respeitados e assegurando uma defesa eficaz e ética.</p>
  </div>
</section>

<section class="about-us">
  <h2>Sobre Nós</h2>
  <p>Com mais de 20 anos de experiência, nossa advocacia está comprometida em oferecer soluções jurídicas eficazes e personalizadas para nossos clientes. Nosso objetivo é fornecer suporte jurídico com excelência e ética, protegendo os interesses e os direitos de nossos clientes.</p>
</section>
